<h2>Estadísticas</h2><br/>
<ul>
   <li>El número de preguntas: <%= statistic.totalQuizzes %></li>
   <li>El número de comentarios totales: <%= statistic.totalComments %></li>
   <li>El número medio de comentarios por pregunta: <%= statistic.avgCommentsOfQuiz %></li>
   <li>El número de preguntas sin comentarios: <%= statistic.totalQuizzesWithoutComments %></li>
   <li>El número de preguntas con comentarios: <%= statistic.totalQuizzesWithComments %></li>
</ul>
